Flows/betaUI.txt
[{"id":"10236253.2fd19e","type":"tab","label":"EnergyMonitoring-1"},{"id":"90d9c897.f2c718","type":"tab","label":"EnergyMonitoring-2"},{"id":"969e0797.b0c178","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0353cb","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#0353cb","value":"#0353cb","edited":false},"page-titlebar-backgroundColor":{"value":"#0353cb","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#3886fc","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0353cb","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d2f032e.e3801d","type":"sqlitedb","z":"","db":"/tmp/sqlite"},{"id":"621fb5c6.c91c0c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":12,"cy":12,"px":0,"py":0}}},{"id":"92aa5779.326c78","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7a963f27.52bf7","type":"ui_tab","z":"","name":"Appliance Control","icon":"dashboard","order":1},{"id":"a00c6eab.ca03b","type":"ui_group","z":"","name":"Appliance-1","tab":"7a963f27.52bf7","order":1,"disp":true,"width":"8"},{"id":"6ca88674.c6c978","type":"ui_group","z":"","name":"Appliance-2","tab":"7a963f27.52bf7","order":2,"disp":true,"width":"8"},{"id":"f0693f4a.c8abc","type":"ui_group","z":"","name":"Appliance-3","tab":"7a963f27.52bf7","order":3,"disp":true,"width":"8"},{"id":"5f6b79c2.d5ea08","type":"ui_group","z":"","name":"Appliance-5","tab":"7a963f27.52bf7","order":5,"disp":true,"width":"8"},{"id":"384fadf.2c4ce52","type":"ui_group","z":"","name":"Appliance-4","tab":"7a963f27.52bf7","order":4,"disp":true,"width":"8"},{"id":"abbdfbed.11e0e8","type":"ui_group","z":"","name":"Appliance-6","tab":"7a963f27.52bf7","order":6,"disp":true,"width":"8"},{"id":"21ef56ee.08111a","type":"ui_group","z":"","name":"Appliance-7","tab":"7a963f27.52bf7","order":7,"disp":true,"width":"8"},{"id":"db1e31bb.91713","type":"ui_group","z":"","name":"Appliance-8","tab":"7a963f27.52bf7","order":8,"disp":true,"width":"8"},{"id":"710423a4.20e12c","type":"ui_group","z":"","name":"Batch Control","tab":"7a963f27.52bf7","order":9,"disp":true,"width":"8"},{"id":"242d7112.0ff53e","type":"ui_group","z":"","name":"Start Time","tab":"","order":1,"disp":true,"width":"6"},{"id":"e4f5509c.5c9ef","type":"ui_group","z":"","name":"Preset Start Times","tab":"","order":2,"disp":true,"width":"6"},{"id":"e6f51f4f.8c15b","type":"ui_group","z":"","name":"Zone Status","tab":"","order":3,"disp":true,"width":"6"},{"id":"1e46d139.ce37ef","type":"ui_group","z":"","name":"Manual","tab":"","order":4,"disp":true,"width":"6"},{"id":"5ce4d034.3d7a6","type":"ui_group","z":"","name":"Start Time","tab":"","order":1,"disp":true,"width":"6"},{"id":"b8fc3b06.3ff328","type":"ui_group","z":"","name":"Preset Start Times","tab":"","order":2,"disp":true,"width":"6"},{"id":"587a77fd.29d818","type":"ui_group","z":"","name":"Zone Status","tab":"","order":3,"disp":true,"width":"6"},{"id":"79bb09b6.fae7f8","type":"ui_group","z":"","name":"Manual","tab":"","order":4,"disp":true,"width":"6"},{"id":"c7e85aa2.497ae8","type":"ui_tab","z":"","name":"Power Details","icon":"dashboard","order":2},{"id":"8f133382.8d684","type":"ui_group","z":"","name":"Device-1","tab":"c7e85aa2.497ae8","order":1,"disp":true,"width":"10"},{"id":"a05dc1cd.0000a","type":"ui_group","z":"","name":"Device-2","tab":"c7e85aa2.497ae8","order":2,"disp":true,"width":"10"},{"id":"71db578f.98cdd8","type":"ui_group","z":"","name":"Device-3","tab":"c7e85aa2.497ae8","order":3,"disp":true,"width":"10"},{"id":"18e9bb62.34e575","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c958e275.2d5ec","type":"ui_group","z":"","name":"device-4","tab":"c7e85aa2.497ae8","order":4,"disp":true,"width":"10"},{"id":"6b414b04.899384","type":"ui_group","z":"","name":"Start Time","tab":"","order":1,"disp":true,"width":"6"},{"id":"559f6d40.3f9354","type":"ui_group","z":"","name":"Preset Start Times","tab":"","order":2,"disp":true,"width":"6"},{"id":"b867dfa2.28357","type":"ui_group","z":"","name":"Zone Status","tab":"","order":3,"disp":true,"width":"6"},{"id":"4cc19bda.557204","type":"ui_group","z":"","name":"Manual","tab":"","order":4,"disp":true,"width":"6"},{"id":"4fa95ab1.7392f4","type":"ui_group","z":"","name":"Start Time","tab":"","order":1,"disp":true,"width":"6"},{"id":"d0c2852c.cdae78","type":"ui_group","z":"","name":"Preset Start Times","tab":"","order":2,"disp":true,"width":"6"},{"id":"d40026a6.623408","type":"ui_group","z":"","name":"Zone Status","tab":"","order":3,"disp":true,"width":"6"},{"id":"a976939.8ea157","type":"ui_group","z":"","name":"Manual","tab":"","order":4,"disp":true,"width":"6"},{"id":"c74781b2.fac9f","type":"ui_tab","z":"","name":"Scheduler","icon":"dashboard","order":3},{"id":"378a76fb.bcc94a","type":"ui_group","z":"","name":"Appliance 1","tab":"c74781b2.fac9f","order":1,"disp":true,"width":"6"},{"id":"e36302f7.6bc86","type":"ui_group","z":"","name":"Appliance 2","tab":"c74781b2.fac9f","order":2,"disp":true,"width":"6"},{"id":"f124b77b.1dc978","type":"ui_group","z":"","name":"Appliance 3","tab":"c74781b2.fac9f","order":3,"disp":true,"width":"6"},{"id":"294ed403.8236bc","type":"ui_group","z":"","name":"Appliance 4","tab":"c74781b2.fac9f","order":4,"disp":true,"width":"6"},{"id":"a4c89d07.dd9a8","type":"ui_group","z":"","name":"Appliance 5","tab":"c74781b2.fac9f","order":5,"disp":true,"width":"6"},{"id":"6f6bea08.8b0a54","type":"ui_group","z":"","name":"Appliance 6","tab":"c74781b2.fac9f","order":6,"disp":true,"width":"6"},{"id":"eb5c5fbf.8961f","type":"ui_group","z":"","name":"Appliance 7","tab":"c74781b2.fac9f","order":7,"disp":true,"width":"6"},{"id":"d6cb5f53.cc72f","type":"ui_group","z":"","name":"Appliance 8","tab":"c74781b2.fac9f","order":8,"disp":true,"width":"6"},{"id":"80f383d9.f0617","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered"},{"id":"bb6fdb4d.99c048","type":"ui_group","z":"","name":"MiFlora","tab":"db57e7bb.94e658","order":2,"disp":true,"width":"6"},{"id":"dd9d73b8.a11e9","type":"ui_group","z":"","name":"Report","tab":"8af1ca89.d734a8","order":2,"disp":true,"width":"18"},{"id":"9a9b6587.da54e8","type":"ui_group","z":"","name":"Selection","tab":"8af1ca89.d734a8","order":1,"disp":true,"width":"5"},{"id":"db57e7bb.94e658","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"8af1ca89.d734a8","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9},{"id":"eeb280f6.c3c2d","type":"sqlitedb","z":"","db":"/home/pi/sqlite/nodered"},{"id":"360564c5.c910dc","type":"ui_group","z":"","name":"MiFlora","tab":"ec5132da.48a86","order":2,"disp":true,"width":"6"},{"id":"8ee71c8f.6a0a4","type":"ui_group","z":"","name":"Report","tab":"415b55fd.375bdc","order":2,"disp":true,"width":"18"},{"id":"a2c8f3ad.3219a","type":"ui_group","z":"","name":"Selection","tab":"415b55fd.375bdc","order":1,"disp":true,"width":"5"},{"id":"ec5132da.48a86","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"415b55fd.375bdc","type":"ui_tab","z":"","name":"Reports","icon":"dashboard","order":9},{"id":"895ce4dd.1917d8","type":"mqtt in","z":"10236253.2fd19e","name":"ControlFB","topic":"device/controlFB","qos":"0","broker":"18e9bb62.34e575","x":115.00007629394531,"y":258.0000925064087,"wires":[["51f17895.2a31d8","2e20494b.93c186"]]},{"id":"51f17895.2a31d8","type":"debug","z":"10236253.2fd19e","name":"","active":false,"console":"false","complete":"payload","x":331.0001754760742,"y":343.0001983642578,"wires":[]},{"id":"2e20494b.93c186","type":"function","z":"10236253.2fd19e","name":"Parse Data","func":"var status = new Array(8);\nvar bitmsk = 1;\nvar outMsgs = [];\nvar data = parseInt(msg.payload);\nfor(var i = 0; i < 8; i++)\n{\n    if((data & bitmsk))\n    {\n        status[i] = true;\n    }\n    else\n    {\n        status[i] = false;\n    }\n    data = data >> 1;\n    outMsgs.push({payload:status[i]});\n}\n\nreturn outMsgs;","outputs":"8","noerr":0,"x":340.0694808959961,"y":243.75006866455078,"wires":[["39e5517c.9f792e"],["a1fe872a.8c4478"],["77a89081.2323d"],["3106c532.8c771a"],["49bfd09e.d1beb"],["bf3d3746.9c84e8"],["c562145a.c55ac8"],["405fd68b.b258d8"]]},{"id":"3fa6eebd.e80572","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"switch-1\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":861.0003681182861,"y":116.00000762939453,"wires":[["d6a5c04d.cd3fd"]]},{"id":"e0608194.eee7a","type":"mqtt out","z":"10236253.2fd19e","name":"MQTT_CTL","topic":"devices/control","qos":"1","retain":"","broker":"92aa5779.326c78","x":1284.0002727508545,"y":247.9999704360962,"wires":[]},{"id":"8e508b0.5ca9478","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"switch-2\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":860.0196018218994,"y":169.25378227233887,"wires":[["d6a5c04d.cd3fd"]]},{"id":"f5ce4c72.fc4a3","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"switch-3\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":860.0196018218994,"y":209.25378227233887,"wires":[["d6a5c04d.cd3fd"]]},{"id":"b6b76697.fe86c8","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"switch-4\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":860.0196018218994,"y":251.25378227233887,"wires":[["d6a5c04d.cd3fd"]]},{"id":"24f360cc.139cb","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"switch-5\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":860.0196018218994,"y":294.25378227233887,"wires":[["d6a5c04d.cd3fd"]]},{"id":"8da14046.be994","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"switch-6\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":860.0196018218994,"y":337.25378227233887,"wires":[["d6a5c04d.cd3fd"]]},{"id":"4f3b3dbd.66a7c4","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"switch-7\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":858.0196018218994,"y":379.25378227233887,"wires":[["d6a5c04d.cd3fd"]]},{"id":"e1bcbf4c.091b4","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"switch-8\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":860.0196018218994,"y":424.25378227233887,"wires":[["d6a5c04d.cd3fd"]]},{"id":"f17f50be.3379f","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":196.0235366821289,"y":4297.749910354614,"wires":[["fa18f7a7.55bf08"]]},{"id":"fa18f7a7.55bf08","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"dev-1\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":434.02353286743164,"y":4402.78892993927,"wires":[["5aec51c6.a3962"]]},{"id":"44baa768.e5bf08","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"dev-2\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":433.0427665710449,"y":4456.042704582214,"wires":[["5aec51c6.a3962"]]},{"id":"708f72b0.8e4d7c","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"dev-3\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":433.0427665710449,"y":4496.042704582214,"wires":[["5aec51c6.a3962"]]},{"id":"52b373bb.e2e01c","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"dev-4\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":433.0427665710449,"y":4538.042704582214,"wires":[["5aec51c6.a3962"]]},{"id":"e72e7a52.158d08","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"dev-5\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":433.0427665710449,"y":4581.042704582214,"wires":[["5aec51c6.a3962"]]},{"id":"aa7937ee.26ea98","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"dev-6\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":433.0427665710449,"y":4624.042704582214,"wires":[["5aec51c6.a3962"]]},{"id":"57e5d129.f4d9c","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"dev-7\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":431.0427665710449,"y":4666.042704582214,"wires":[["5aec51c6.a3962"]]},{"id":"d99430a8.171ec","type":"function","z":"10236253.2fd19e","name":"Status","func":"global.set(\"dev-8\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":433.0427665710449,"y":4711.042704582214,"wires":[["5aec51c6.a3962"]]},{"id":"5aec51c6.a3962","type":"function","z":"10236253.2fd19e","name":"ControlFB","func":"var control = [\n                global.get(\"dev-1\"),\n                global.get(\"dev-2\"),\n                global.get(\"dev-3\"),\n                global.get(\"dev-4\"),\n                global.get(\"dev-5\"),\n                global.get(\"dev-6\"),\n                global.get(\"dev-7\"),\n                global.get(\"dev-8\")\n                ];\nnode.log(control);\n\nvar control_byte = 0;\nfor(var i = 7; i >= 0; i--)\n{\n    control_byte = control_byte << 1;\n    if(control[i] === true)\n    {\n        control_byte |= 1;\n    }\n}\nmsg.payload = control_byte;\nreturn msg;\n","outputs":1,"noerr":0,"x":643.0235786437988,"y":4554.788918495178,"wires":[["1b0fa955.1ffb57","20c085e3.4c351a"]]},{"id":"1b0fa955.1ffb57","type":"debug","z":"10236253.2fd19e","name":"","active":true,"console":"false","complete":"false","x":759.0235347747803,"y":4677.7889223098755,"wires":[]},{"id":"d6a5c04d.cd3fd","type":"function","z":"10236253.2fd19e","name":"Control","func":"var control = [\n                global.get(\"switch-1\"),\n                global.get(\"switch-2\"),\n                global.get(\"switch-3\"),\n                global.get(\"switch-4\"),\n                global.get(\"switch-5\"),\n                global.get(\"switch-6\"),\n                global.get(\"switch-7\"),\n                global.get(\"switch-8\")\n                ];\n\nif(!context.value)\n{\n    context.value = 0;\n}\n\nvar control_byte = 0;\nfor(var i = 7; i >= 0; i--)\n{\n    control_byte = control_byte << 1;\n    if(control[i] === true)\n    {\n        control_byte |= 1;\n    }\n}\nmsg.payload = control_byte;\nif(context.value != control_byte)\n{\n    context.value = control_byte;\n    return msg;\n}\ncontext.value = control_byte;\n","outputs":1,"noerr":0,"x":1085.0236206054688,"y":260.53885412216187,"wires":[["e0608194.eee7a"]]},{"id":"a1fe872a.8c4478","type":"ui_switch","z":"10236253.2fd19e","name":"Switch-2","label":"Device-2","group":"6ca88674.c6c978","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":713.0002727508545,"y":164.9999704360962,"wires":[["8e508b0.5ca9478","5c0546ed.990508"]]},{"id":"77a89081.2323d","type":"ui_switch","z":"10236253.2fd19e","name":"Switch-3","label":"Device-3","group":"f0693f4a.c8abc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":712.0002727508545,"y":209.9999704360962,"wires":[["f5ce4c72.fc4a3","9697e5f4.5b24a8"]]},{"id":"3106c532.8c771a","type":"ui_switch","z":"10236253.2fd19e","name":"Switch-4","label":"Device-4","group":"384fadf.2c4ce52","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":713.0002727508545,"y":252.9999704360962,"wires":[["b6b76697.fe86c8","a2815f2e.87eae"]]},{"id":"49bfd09e.d1beb","type":"ui_switch","z":"10236253.2fd19e","name":"Switch-5","label":"Device-5","group":"5f6b79c2.d5ea08","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":714.0002727508545,"y":294.9999704360962,"wires":[["24f360cc.139cb","a2eb123b.a56a7"]]},{"id":"bf3d3746.9c84e8","type":"ui_switch","z":"10236253.2fd19e","name":"Switch-6","label":"Device-6","group":"abbdfbed.11e0e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":713.0002727508545,"y":338.9999704360962,"wires":[["8da14046.be994","c0cfd439.3fee08"]]},{"id":"c562145a.c55ac8","type":"ui_switch","z":"10236253.2fd19e","name":"Switch-7","label":"Device-7","group":"21ef56ee.08111a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":712.0002727508545,"y":384.9999704360962,"wires":[["4f3b3dbd.66a7c4","b7a77fb8.ae5be"]]},{"id":"405fd68b.b258d8","type":"ui_switch","z":"10236253.2fd19e","name":"Switch-8","label":"Device-8","group":"db1e31bb.91713","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":711.0002727508545,"y":428.9999704360962,"wires":[["e1bcbf4c.091b4","6bd3a6bc.6b2388"]]},{"id":"8bf5f5dc.895fc8","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":199.02349090576172,"y":4334.74988079071,"wires":[["fa18f7a7.55bf08"]]},{"id":"bb5cf8d8.c8b7a8","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":199.02349090576172,"y":4406.749852180481,"wires":[["44baa768.e5bf08"]]},{"id":"9cf2eb1d.6b8448","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":197.0235366821289,"y":4372.749881744385,"wires":[["44baa768.e5bf08"]]},{"id":"823bcf3d.7798d","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":199.02349853515625,"y":4481.788917541504,"wires":[["708f72b0.8e4d7c"]]},{"id":"5085a520.d3664c","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":198.02354431152344,"y":4443.788947105408,"wires":[["708f72b0.8e4d7c"]]},{"id":"dc1f1826.29d0f8","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":203.02347946166992,"y":4559.788969993591,"wires":[["52b373bb.e2e01c"]]},{"id":"658983d7.dccdfc","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":200.02351760864258,"y":4521.78897190094,"wires":[["52b373bb.e2e01c"]]},{"id":"306c6151.6fcc2e","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":204.02347946166992,"y":4635.788969993591,"wires":[["e72e7a52.158d08"]]},{"id":"b30f38e9.1dd248","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":201.02351760864258,"y":4597.78897190094,"wires":[["e72e7a52.158d08"]]},{"id":"3bcc948c.4589cc","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":205.02346420288086,"y":4714.788968086243,"wires":[["aa7937ee.26ea98"]]},{"id":"f4a8704d.689de","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":202.02350234985352,"y":4676.788969993591,"wires":[["aa7937ee.26ea98"]]},{"id":"97d4063a.e868d8","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":207.02346420288086,"y":4795.788968086243,"wires":[["57e5d129.f4d9c"]]},{"id":"c8d86d44.6a62f","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":204.02350234985352,"y":4757.788969993591,"wires":[["57e5d129.f4d9c"]]},{"id":"8765d676.b96cb8","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":210.02346420288086,"y":4882.788968086243,"wires":[["d99430a8.171ec"]]},{"id":"70d16ea8.a212e","type":"inject","z":"10236253.2fd19e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":207.02350234985352,"y":4844.788969993591,"wires":[["d99430a8.171ec"]]},{"id":"20c085e3.4c351a","type":"mqtt out","z":"10236253.2fd19e","name":"Status","topic":"device/controlFB","qos":"1","retain":"","broker":"92aa5779.326c78","x":844.0236949920654,"y":4530.289094924927,"wires":[]},{"id":"441f0e6.107aff","type":"debug","z":"10236253.2fd19e","name":"","active":true,"console":"false","complete":"false","x":1182.023738861084,"y":4643.788950920105,"wires":[]},{"id":"1c57d57d.ca959b","type":"mqtt in","z":"10236253.2fd19e","name":"Control","topic":"devices/control","qos":"0","broker":"92aa5779.326c78","x":1014.023551940918,"y":4530.788947105408,"wires":[["441f0e6.107aff"]]},{"id":"da992c6d.24384","type":"comment","z":"10236253.2fd19e","name":"ESP8266 Side","info":"","x":717.7813758850098,"y":4454.906279951334,"wires":[]},{"id":"8a15056e.369998","type":"ui_button","z":"10236253.2fd19e","name":"","group":"710423a4.20e12c","order":2,"width":0,"height":0,"label":"Turn Off all devices","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":134.0000228881836,"y":440.00000762939453,"wires":[["2e20494b.93c186"]]},{"id":"f0a1c354.b158f","type":"ui_button","z":"10236253.2fd19e","name":"","group":"710423a4.20e12c","order":1,"width":0,"height":0,"label":"Turn On all devices","color":"","bgcolor":"","icon":"","payload":"255","payloadType":"num","topic":"","x":142.75794982910156,"y":392.3907279968262,"wires":[["2e20494b.93c186"]]},{"id":"8f942a39.d36428","type":"ui_text","z":"10236253.2fd19e","group":"a00c6eab.ca03b","order":2,"width":0,"height":0,"name":"Status -1","label":"Status of Device","format":"{{msg.payload}}","layout":"row-spread","x":1233.6667976379395,"y":353.00011014938354,"wires":[]},{"id":"fb90758e.9b9ec8","type":"function","z":"10236253.2fd19e","name":"","func":"if(msg.payload === true)\n{\n   msg.payload = \"ON\"; \n}\nelse\n{\n   msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1098.6668090820312,"y":353.0001788139343,"wires":[["8f942a39.d36428"]]},{"id":"d097a4cc.ffb688","type":"ui_text","z":"10236253.2fd19e","group":"6ca88674.c6c978","order":2,"width":0,"height":0,"name":"Status -2","label":"Status of Device","format":"{{msg.payload}}","layout":"row-spread","x":1235.33345413208,"y":407.00011014938354,"wires":[]},{"id":"5c0546ed.990508","type":"function","z":"10236253.2fd19e","name":"","func":"if(msg.payload === true)\n{\n   msg.payload = \"ON\"; \n}\nelse\n{\n   msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100.3334655761719,"y":407.0001788139343,"wires":[["d097a4cc.ffb688"]]},{"id":"b9372fe.b2d82d","type":"ui_text","z":"10236253.2fd19e","group":"f0693f4a.c8abc","order":2,"width":0,"height":0,"name":"Status -3","label":"Status of Device","format":"{{msg.payload}}","layout":"row-spread","x":1232.33345413208,"y":457.00011014938354,"wires":[]},{"id":"9697e5f4.5b24a8","type":"function","z":"10236253.2fd19e","name":"","func":"if(msg.payload === true)\n{\n   msg.payload = \"ON\"; \n}\nelse\n{\n   msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1097.3334655761719,"y":457.0001788139343,"wires":[["b9372fe.b2d82d"]]},{"id":"aeda764e.f1a478","type":"ui_text","z":"10236253.2fd19e","group":"384fadf.2c4ce52","order":2,"width":0,"height":0,"name":"Status -4","label":"Status of Device","format":"{{msg.payload}}","layout":"row-spread","x":1234.0001106262207,"y":511.00011014938354,"wires":[]},{"id":"a2815f2e.87eae","type":"function","z":"10236253.2fd19e","name":"","func":"if(msg.payload === true)\n{\n   msg.payload = \"ON\"; \n}\nelse\n{\n   msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1099.0001220703125,"y":511.0001788139343,"wires":[["aeda764e.f1a478"]]},{"id":"25c55e1c.bf8c92","type":"ui_text","z":"10236253.2fd19e","group":"5f6b79c2.d5ea08","order":2,"width":0,"height":0,"name":"Status -5","label":"Status of Device","format":"{{msg.payload}}","layout":"row-spread","x":1234.33345413208,"y":557.0001101493835,"wires":[]},{"id":"a2eb123b.a56a7","type":"function","z":"10236253.2fd19e","name":"","func":"if(msg.payload === true)\n{\n   msg.payload = \"ON\"; \n}\nelse\n{\n   msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1099.3334655761719,"y":557.0001788139343,"wires":[["25c55e1c.bf8c92"]]},{"id":"485be5f1.e651ac","type":"ui_text","z":"10236253.2fd19e","group":"abbdfbed.11e0e8","order":2,"width":0,"height":0,"name":"Status -6","label":"Status of Device","format":"{{msg.payload}}","layout":"row-spread","x":1236.0001106262207,"y":611.0001101493835,"wires":[]},{"id":"c0cfd439.3fee08","type":"function","z":"10236253.2fd19e","name":"","func":"if(msg.payload === true)\n{\n   msg.payload = \"ON\"; \n}\nelse\n{\n   msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1101.0001220703125,"y":611.0001788139343,"wires":[["485be5f1.e651ac"]]},{"id":"d61f0744.d85ce8","type":"ui_text","z":"10236253.2fd19e","group":"21ef56ee.08111a","order":2,"width":0,"height":0,"name":"Status -7","label":"Status of Device","format":"{{msg.payload}}","layout":"row-spread","x":1235.33345413208,"y":665.666736125946,"wires":[]},{"id":"b7a77fb8.ae5be","type":"function","z":"10236253.2fd19e","name":"","func":"if(msg.payload === true)\n{\n   msg.payload = \"ON\"; \n}\nelse\n{\n   msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100.3334655761719,"y":665.6668047904968,"wires":[["d61f0744.d85ce8"]]},{"id":"aaa5ed91.87629","type":"ui_text","z":"10236253.2fd19e","group":"db1e31bb.91713","order":2,"width":0,"height":0,"name":"Status -8","label":"Status of Device","format":"{{msg.payload}}","layout":"row-spread","x":1237.0001106262207,"y":719.666736125946,"wires":[]},{"id":"6bd3a6bc.6b2388","type":"function","z":"10236253.2fd19e","name":"","func":"if(msg.payload === true)\n{\n   msg.payload = \"ON\"; \n}\nelse\n{\n   msg.payload = \"OFF\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":1102.0001220703125,"y":719.6668047904968,"wires":[["aaa5ed91.87629"]]},{"id":"fe45a92c.fd2c18","type":"mqtt in","z":"90d9c897.f2c718","name":"Power-0","topic":"device/power/0","qos":"1","broker":"92aa5779.326c78","x":272,"y":75,"wires":[["8ba130f7.23b65"]]},{"id":"166c54fd.e1d36b","type":"mqtt in","z":"90d9c897.f2c718","name":"Power-1","topic":"device/power/1","qos":"1","broker":"92aa5779.326c78","x":270,"y":125,"wires":[["7fed8d75.b83d84"]]},{"id":"bed8a6c7.69de58","type":"mqtt in","z":"90d9c897.f2c718","name":"Power-2","topic":"device/power/2","qos":"1","broker":"92aa5779.326c78","x":271,"y":172,"wires":[["8fed60ce.2c2fd"]]},{"id":"6dadfd8b.0608b4","type":"mqtt in","z":"90d9c897.f2c718","name":"Power-3","topic":"device/power/3","qos":"2","broker":"92aa5779.326c78","x":272,"y":221,"wires":[["6b653cd5.60af04"]]},{"id":"b34951a2.472e8","type":"ui_gauge","z":"90d9c897.f2c718","name":"Power-2","group":"a05dc1cd.0000a","order":1,"width":0,"height":0,"gtype":"gage","title":"Power Consumed","label":"Watt","format":"{{value}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":622,"y":124,"wires":[]},{"id":"863617.227b79e8","type":"ui_gauge","z":"90d9c897.f2c718","name":"Power-3","group":"71db578f.98cdd8","order":1,"width":0,"height":0,"gtype":"gage","title":"Power Consumed","label":"Watt","format":"{{value}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":627,"y":172,"wires":[]},{"id":"8ba130f7.23b65","type":"function","z":"90d9c897.f2c718","name":"parse_data","func":"var data = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":75,"wires":[["5ce995b1.d0137c"]]},{"id":"7fed8d75.b83d84","type":"function","z":"90d9c897.f2c718","name":"parse_data","func":"var data = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":125,"wires":[["b34951a2.472e8"]]},{"id":"8fed60ce.2c2fd","type":"function","z":"90d9c897.f2c718","name":"parse_data","func":"var data = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":172,"wires":[["863617.227b79e8"]]},{"id":"6b653cd5.60af04","type":"function","z":"90d9c897.f2c718","name":"parse_data","func":"var data = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":447,"y":220,"wires":[["4722b4c0.6a970c"]]},{"id":"5ce995b1.d0137c","type":"ui_gauge","z":"90d9c897.f2c718","name":"Power-1","group":"8f133382.8d684","order":1,"width":0,"height":0,"gtype":"gage","title":"Power Consumed","label":"Watt","format":"{{value}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":624,"y":75,"wires":[]},{"id":"1cd3a571.2911db","type":"mqtt out","z":"90d9c897.f2c718","name":"Power Tx","topic":"device/power/0","qos":"1","retain":"","broker":"92aa5779.326c78","x":509.0729274749756,"y":495.6424140930176,"wires":[]},{"id":"2f4096da.31f24a","type":"inject","z":"90d9c897.f2c718","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":152.01734924316406,"y":502.0104064941406,"wires":[["d137d982.dafda8"]]},{"id":"d137d982.dafda8","type":"function","z":"90d9c897.f2c718","name":"random","func":"msg.payload = parseInt(6000*Math.random());\nreturn msg;","outputs":1,"noerr":0,"x":348.017333984375,"y":498.0104064941406,"wires":[["1cd3a571.2911db"]]},{"id":"4722b4c0.6a970c","type":"ui_gauge","z":"90d9c897.f2c718","name":"Power-4","group":"c958e275.2d5ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Power Consumed","label":"Watt","format":"{{value}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":626,"y":220,"wires":[]},{"id":"39e5517c.9f792e","type":"ui_switch","z":"10236253.2fd19e","name":"Switch 1","label":"Device-1","group":"a00c6eab.ca03b","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":711,"y":111,"wires":[["3fa6eebd.e80572","fb90758e.9b9ec8"]]},{"id":"6bdf1484.8462bc","type":"comment","z":"10236253.2fd19e","name":"Sch1","info":"","x":234.89062881469727,"y":894.5313501358032,"wires":[]},{"id":"a72d3289.fce3e","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch1Hour","label":"Hour","group":"378a76fb.bcc94a","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"Sch1timehour","x":172.00000381469727,"y":1152.2541885375977,"wires":[["72ef16f0.8270c8"]]},{"id":"a6767eef.2de23","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch1Minute","label":"Minute","group":"378a76fb.bcc94a","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"Sch1timeminute","x":171.00000381469727,"y":1192.254144668579,"wires":[["72ef16f0.8270c8"]]},{"id":"72ef16f0.8270c8","type":"function","z":"10236253.2fd19e","name":"Sch1 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"Sch1timehour\");\nvar minute = global.get(\"Sch1timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"startSW1\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":362.99999618530273,"y":1170.2541236877441,"wires":[["654f3aac.e1be24"]]},{"id":"654f3aac.e1be24","type":"ui_text","z":"10236253.2fd19e","group":"378a76fb.bcc94a","order":2,"width":"","height":"","name":"ONTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":545.9999961853027,"y":1171.2541599273682,"wires":[]},{"id":"cfdfae45.de9ae","type":"ui_switch","z":"10236253.2fd19e","name":"Sch1enabler","label":"Enable Scheduler","group":"378a76fb.bcc94a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Sch1enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":232.0195655822754,"y":1007.2541637420654,"wires":[["f19ee2f.7b6972"]]},{"id":"f19ee2f.7b6972","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":373.0195655822754,"y":1007.2541637420654,"wires":[["d50dee3b.f5201"]]},{"id":"296fb078.acb6f","type":"ui_dropdown","z":"10236253.2fd19e","name":"Schedule in days","label":"Schedule","group":"378a76fb.bcc94a","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"Every day","value":1,"type":"num"},{"label":"Every second day","value":"2","type":"str"},{"label":"Every third day","value":"3","type":"str"},{"label":"Every forth day","value":"4","type":"str"}],"payload":"","topic":"Sch1days","x":216.01956176757812,"y":1050.2542095184326,"wires":[["601a5a8d.c60824"]]},{"id":"601a5a8d.c60824","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":374.0195732116699,"y":1049.2541790008545,"wires":[["d50dee3b.f5201"]]},{"id":"d50dee3b.f5201","type":"function","z":"10236253.2fd19e","name":"Date logic","func":"var today = new Date();\nif (global.get(\"Sch1enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch1days\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":536.019603729248,"y":1023.2541790008545,"wires":[["4c29efaf.8bfd3"]]},{"id":"4c29efaf.8bfd3","type":"ui_template","z":"10236253.2fd19e","group":"378a76fb.bcc94a","name":"Execute today?","order":9,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Run today</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Yes' : 'No'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":717.0195808410645,"y":1023.2541484832764,"wires":[[]]},{"id":"dd5cb766.9c70d8","type":"inject","z":"10236253.2fd19e","name":"","topic":"Sch1Check","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":245.00001907348633,"y":1270.599313735962,"wires":[["d42e35e7.3743e8","5563762c.72c378"]]},{"id":"d42e35e7.3743e8","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch1enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch1days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":477.00011444091797,"y":1245.5994062423706,"wires":[["a2798c52.ece76"]]},{"id":"a2798c52.ece76","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"startSW1","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":669.0001449584961,"y":1241.599389076233,"wires":[["efd47c3e.bebee"],[]]},{"id":"efd47c3e.bebee","type":"change","z":"10236253.2fd19e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":857.0001029968262,"y":1240.5994367599487,"wires":[["be9c7b99.946de8"]]},{"id":"9994dd4c.c04f6","type":"comment","z":"10236253.2fd19e","name":"Sch2","info":"","x":190.00000381469727,"y":1453.504014968872,"wires":[]},{"id":"8c06be8d.ea8f9","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch2Hour","label":"Hour","group":"e36302f7.6bc86","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"Sch2timehour","x":228.1289291381836,"y":1593.2267684936523,"wires":[["e9a095da.bf0978"]]},{"id":"26bfdc47.965d14","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch2Minute","label":"Minute","group":"e36302f7.6bc86","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"Sch2timeminute","x":226.1289291381836,"y":1636.226743221283,"wires":[["e9a095da.bf0978"]]},{"id":"e9a095da.bf0978","type":"function","z":"10236253.2fd19e","name":"Sch2 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"Sch2timehour\");\nvar minute = global.get(\"Sch2timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"startSW2\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":419.12892150878906,"y":1611.2267036437988,"wires":[["33d23b1c.216e44"]]},{"id":"33d23b1c.216e44","type":"ui_text","z":"10236253.2fd19e","group":"e36302f7.6bc86","order":2,"width":"","height":"","name":"ONTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":602.1289215087891,"y":1612.2267398834229,"wires":[]},{"id":"4b1d73f7.a650cc","type":"ui_switch","z":"10236253.2fd19e","name":"Sch2enabler","label":"Enable Scheduler","group":"e36302f7.6bc86","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Sch2enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":364.1289405822754,"y":1486.2269287109375,"wires":[["2b6cde1d.db9de2"]]},{"id":"2b6cde1d.db9de2","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":505.1289405822754,"y":1486.2269287109375,"wires":[["4637e139.8a6b7"]]},{"id":"1e84c286.5fe60d","type":"ui_dropdown","z":"10236253.2fd19e","name":"Schedule in days","label":"Schedule","group":"e36302f7.6bc86","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"Every day","value":1,"type":"num"},{"label":"Every second day","value":"2","type":"str"},{"label":"Every third day","value":"3","type":"str"},{"label":"Every forth day","value":"4","type":"str"}],"payload":"","topic":"Sch2days","x":348.1289367675781,"y":1529.2269744873047,"wires":[["e822340e.8a0cc8"]]},{"id":"e822340e.8a0cc8","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":506.1289482116699,"y":1528.2269439697266,"wires":[["4637e139.8a6b7"]]},{"id":"3a74550.6e0efac","type":"ui_template","z":"10236253.2fd19e","group":"e36302f7.6bc86","name":"Execute today?","order":9,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Run today</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Yes' : 'No'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":849.1289558410645,"y":1502.2269134521484,"wires":[[]]},{"id":"4e20b71.a691b48","type":"inject","z":"10236253.2fd19e","name":"","topic":"Sch2Check","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":272.10939025878906,"y":1793.5718955993652,"wires":[["b0fe1892.bb4cd8","74a071ab.5c37d"]]},{"id":"b0fe1892.bb4cd8","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch2enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch2days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":487.1094207763672,"y":1792.5719108581543,"wires":[["410fd710.363a98"]]},{"id":"410fd710.363a98","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"startSW2","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":679.1094512939453,"y":1788.5718936920166,"wires":[["886a1c1a.8e4d7"],[]]},{"id":"886a1c1a.8e4d7","type":"change","z":"10236253.2fd19e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":867.1094093322754,"y":1787.5719413757324,"wires":[["66673071.22ede"]]},{"id":"4637e139.8a6b7","type":"function","z":"10236253.2fd19e","name":"Date logic","func":"var today = new Date();\nif (global.get(\"Sch2enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch2days\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":668.128978729248,"y":1502.2269439697266,"wires":[["3a74550.6e0efac"]]},{"id":"7df4dcc6.4e2dd4","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch1Hour","label":"Hour","group":"378a76fb.bcc94a","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"DSch1timehour","x":587.0196113586426,"y":1083.5039710998535,"wires":[["c725f724.8aae78"]]},{"id":"33705b06.9903b4","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch1Minute","label":"Minute","group":"378a76fb.bcc94a","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"DSch1timeminute","x":586.0196113586426,"y":1123.503927230835,"wires":[["c725f724.8aae78"]]},{"id":"c725f724.8aae78","type":"function","z":"10236253.2fd19e","name":"Sch1 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"DSch1timehour\");\nvar minute = global.get(\"DSch1timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"stopSW1\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":788.0196495056152,"y":1101.5039157867432,"wires":[["672fb761.760828"]]},{"id":"672fb761.760828","type":"ui_text","z":"10236253.2fd19e","group":"378a76fb.bcc94a","order":5,"width":"","height":"","name":"OFFTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":992.0195617675781,"y":1101.5040836334229,"wires":[]},{"id":"5563762c.72c378","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch1enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch1days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":475.0195426940918,"y":1320.5040264129639,"wires":[["4511a88c.9ce218"]]},{"id":"4511a88c.9ce218","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopSW1","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":667.0195732116699,"y":1316.5040092468262,"wires":[["ce182858.91be08"],[]]},{"id":"ce182858.91be08","type":"change","z":"10236253.2fd19e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":855.01953125,"y":1315.504056930542,"wires":[["be9c7b99.946de8"]]},{"id":"2c530238.19c06e","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch2Hour","label":"Hour","group":"e36302f7.6bc86","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"DSch2timehour","x":348.01953887939453,"y":1691.7539458274841,"wires":[["ce76f5f4.e263c8"]]},{"id":"fcc7d4b6.79e558","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch2Minute","label":"Minute","group":"e36302f7.6bc86","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"DSch2timeminute","x":347.01953887939453,"y":1731.7539019584656,"wires":[["ce76f5f4.e263c8"]]},{"id":"ce76f5f4.e263c8","type":"function","z":"10236253.2fd19e","name":"Sch2 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"DSch2timehour\");\nvar minute = global.get(\"DSch2timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"stopSW2\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":549.0195770263672,"y":1709.7538905143738,"wires":[["4128e1d5.32a75"]]},{"id":"4128e1d5.32a75","type":"ui_text","z":"10236253.2fd19e","group":"e36302f7.6bc86","order":5,"width":"","height":"","name":"OFFTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":753.0194892883301,"y":1709.7540583610535,"wires":[]},{"id":"74a071ab.5c37d","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch2enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch2days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":487.01953887939453,"y":1878.2539458274841,"wires":[["6292b926.b7d0b8"]]},{"id":"6292b926.b7d0b8","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopSW2","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":679.0195693969727,"y":1874.2539286613464,"wires":[["9c8fd616.4d47c8"],[]]},{"id":"9c8fd616.4d47c8","type":"change","z":"10236253.2fd19e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":867.0195274353027,"y":1873.2539763450623,"wires":[["66673071.22ede"]]},{"id":"cdc34c3.b5531b","type":"comment","z":"10236253.2fd19e","name":"Sch3","info":"","x":252.01953125,"y":2027.25390625,"wires":[]},{"id":"aacebf2d.01239","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch3Hour","label":"Hour","group":"f124b77b.1dc978","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"Sch3timehour","x":189.12890625,"y":2284.9767446517944,"wires":[["ddca5f84.eb9e9"]]},{"id":"b3a51d28.65025","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch3Minute","label":"Minute","group":"f124b77b.1dc978","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"Sch3timeminute","x":188.12890625,"y":2324.976700782776,"wires":[["ddca5f84.eb9e9"]]},{"id":"ddca5f84.eb9e9","type":"function","z":"10236253.2fd19e","name":"Sch3 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"Sch3timehour\");\nvar minute = global.get(\"Sch3timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"startSW3\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":380.12889862060547,"y":2302.976679801941,"wires":[["139228b0.1bda77"]]},{"id":"139228b0.1bda77","type":"ui_text","z":"10236253.2fd19e","group":"f124b77b.1dc978","order":2,"width":"","height":"","name":"ONTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":563.1288986206055,"y":2303.976716041565,"wires":[]},{"id":"72d82978.b5da18","type":"ui_switch","z":"10236253.2fd19e","name":"Sch3enabler","label":"Enable Scheduler","group":"f124b77b.1dc978","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Sch3enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":249.14846801757812,"y":2139.976719856262,"wires":[["62fa53a.a914dac"]]},{"id":"62fa53a.a914dac","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390.1484680175781,"y":2139.976719856262,"wires":[["7165f1e7.f8fd"]]},{"id":"d1dc8186.ef199","type":"ui_dropdown","z":"10236253.2fd19e","name":"Schedule in days","label":"Schedule","group":"f124b77b.1dc978","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"Every day","value":1,"type":"num"},{"label":"Every second day","value":"2","type":"str"},{"label":"Every third day","value":"3","type":"str"},{"label":"Every forth day","value":"4","type":"str"}],"payload":"","topic":"Sch3days","x":233.14846420288086,"y":2182.9767656326294,"wires":[["4532730a.49ef5c"]]},{"id":"4532730a.49ef5c","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":391.14847564697266,"y":2181.9767351150513,"wires":[["7165f1e7.f8fd"]]},{"id":"7165f1e7.f8fd","type":"function","z":"10236253.2fd19e","name":"Date logic","func":"var today = new Date();\nif (global.get(\"Sch3enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch3days\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":553.1485061645508,"y":2155.9767351150513,"wires":[["bf60e89c.8daa18"]]},{"id":"bf60e89c.8daa18","type":"ui_template","z":"10236253.2fd19e","group":"f124b77b.1dc978","name":"Execute today?","order":9,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Run today</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Yes' : 'No'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":734.1484832763672,"y":2155.976704597473,"wires":[[]]},{"id":"7a93e659.a22948","type":"inject","z":"10236253.2fd19e","name":"","topic":"Sch3Check","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":262.12892150878906,"y":2403.3218698501587,"wires":[["9b563842.9c86b8","373f771d.60d0c8"]]},{"id":"9b563842.9c86b8","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch3enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch3days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":494.1290168762207,"y":2378.3219623565674,"wires":[["156c9e29.afdeb2"]]},{"id":"156c9e29.afdeb2","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"startSW3","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":686.1290473937988,"y":2374.3219451904297,"wires":[["633ab6d9.813cf8"],[]]},{"id":"633ab6d9.813cf8","type":"change","z":"10236253.2fd19e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":874.1290054321289,"y":2373.3219928741455,"wires":[["9cc5adfb.cfd26"]]},{"id":"a0557ad9.ea0718","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch3Hour","label":"Hour","group":"f124b77b.1dc978","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"DSch3timehour","x":604.1485137939453,"y":2216.2265272140503,"wires":[["ec9abaa3.9885e8"]]},{"id":"9aa97bc5.552c48","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch3Minute","label":"Minute","group":"f124b77b.1dc978","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"DSch3timeminute","x":603.1485137939453,"y":2256.2264833450317,"wires":[["ec9abaa3.9885e8"]]},{"id":"ec9abaa3.9885e8","type":"function","z":"10236253.2fd19e","name":"Sch3 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"DSch3timehour\");\nvar minute = global.get(\"DSch3timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"stopSW3\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":805.148551940918,"y":2234.22647190094,"wires":[["3588c7ea.39b448"]]},{"id":"3588c7ea.39b448","type":"ui_text","z":"10236253.2fd19e","group":"f124b77b.1dc978","order":5,"width":"","height":"","name":"OFFTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":1009.1484642028809,"y":2234.2266397476196,"wires":[]},{"id":"373f771d.60d0c8","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch3enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch3days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":492.14844512939453,"y":2453.2265825271606,"wires":[["a36602c6.d79a6"]]},{"id":"a36602c6.d79a6","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopSW1","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":684.1484756469727,"y":2449.226565361023,"wires":[["df422d14.ec76b"],[]]},{"id":"df422d14.ec76b","type":"change","z":"10236253.2fd19e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":872.1484336853027,"y":2448.2266130447388,"wires":[["9cc5adfb.cfd26"]]},{"id":"796ab3c5.49431c","type":"comment","z":"10236253.2fd19e","name":"Sch4","info":"","x":1326.046875,"y":896.0624389648438,"wires":[]},{"id":"c72cb20e.1e57e","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch4Hour","label":"Hour","group":"294ed403.8236bc","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"Sch4timehour","x":1253.15625,"y":1153.7852773666382,"wires":[["e109f9e4.83ced8"]]},{"id":"d6660b15.7d1d68","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch4Minute","label":"Minute","group":"294ed403.8236bc","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"Sch4timeminute","x":1252.15625,"y":1193.7852334976196,"wires":[["e109f9e4.83ced8"]]},{"id":"e109f9e4.83ced8","type":"function","z":"10236253.2fd19e","name":"Sch4 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"Sch4timehour\");\nvar minute = global.get(\"Sch4imeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"startSW4\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":1444.1562423706055,"y":1171.7852125167847,"wires":[["3abbde9f.00b652"]]},{"id":"3abbde9f.00b652","type":"ui_text","z":"10236253.2fd19e","group":"294ed403.8236bc","order":2,"width":"","height":"","name":"ONTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":1627.1562423706055,"y":1172.7852487564087,"wires":[]},{"id":"32c3bf2e.6460b","type":"ui_switch","z":"10236253.2fd19e","name":"Sch4enabler","label":"Enable Scheduler","group":"294ed403.8236bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Sch4enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1313.1758117675781,"y":1008.785252571106,"wires":[["571fdc37.be0814"]]},{"id":"571fdc37.be0814","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1464.1758117675781,"y":1008.785252571106,"wires":[["f78d5594.07cc08"]]},{"id":"5cc228b0.ba34c8","type":"ui_dropdown","z":"10236253.2fd19e","name":"Schedule in days","label":"Schedule","group":"294ed403.8236bc","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"Every day","value":1,"type":"num"},{"label":"Every second day","value":"2","type":"str"},{"label":"Every third day","value":"3","type":"str"},{"label":"Every forth day","value":"4","type":"str"}],"payload":"","topic":"Sch4days","x":1297.1758079528809,"y":1051.7852983474731,"wires":[["223a0855.dcfef8"]]},{"id":"223a0855.dcfef8","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1465.1758193969727,"y":1050.785267829895,"wires":[["f78d5594.07cc08"]]},{"id":"f78d5594.07cc08","type":"function","z":"10236253.2fd19e","name":"Date logic","func":"var today = new Date();\nif (global.get(\"Sch4enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch4days\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":1617.1758499145508,"y":1024.785267829895,"wires":[["46386728.076658"]]},{"id":"46386728.076658","type":"ui_template","z":"10236253.2fd19e","group":"294ed403.8236bc","name":"Execute today?","order":9,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Run today</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Yes' : 'No'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":1798.1758270263672,"y":1024.785237312317,"wires":[[]]},{"id":"8860ef70.fc9d5","type":"inject","z":"10236253.2fd19e","name":"","topic":"Sch4Check","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":1316.156265258789,"y":1272.1304025650024,"wires":[["5610942a.21fd6c","86224c7.a4383b"]]},{"id":"5610942a.21fd6c","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch4enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch4days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":1558.1563606262207,"y":1247.1304950714111,"wires":[["aca71fb7.6346a"]]},{"id":"aca71fb7.6346a","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"startSW4","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1740.1563911437988,"y":1243.1304779052734,"wires":[["7de96c6f.22c3f4"],[]]},{"id":"7de96c6f.22c3f4","type":"change","z":"10236253.2fd19e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1948.156349182129,"y":1242.1305255889893,"wires":[["d601e67a.d74028"]]},{"id":"1c45d179.00947f","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch4Hour","label":"Hour","group":"294ed403.8236bc","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"DSch4timehour","x":1668.1758575439453,"y":1085.035059928894,"wires":[["79c5a76a.6e9808"]]},{"id":"d9d4db7e.e07538","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch4Minute","label":"Minute","group":"294ed403.8236bc","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"DSch4timeminute","x":1667.1758575439453,"y":1125.0350160598755,"wires":[["79c5a76a.6e9808"]]},{"id":"79c5a76a.6e9808","type":"function","z":"10236253.2fd19e","name":"Sch4 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"DSch4timehour\");\nvar minute = global.get(\"DSch4imeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"stopSW4\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":1869.175895690918,"y":1103.0350046157837,"wires":[["22b2f308.5e00cc"]]},{"id":"22b2f308.5e00cc","type":"ui_text","z":"10236253.2fd19e","group":"294ed403.8236bc","order":5,"width":"","height":"","name":"OFFTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":2073.175807952881,"y":1103.0351724624634,"wires":[]},{"id":"86224c7.a4383b","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch4enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch4days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":1556.1757888793945,"y":1322.0351152420044,"wires":[["314a6d49.b7f0b2"]]},{"id":"314a6d49.b7f0b2","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopSW4","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1738.1758193969727,"y":1318.0350980758667,"wires":[["4ae7ab32.792cd4"],[]]},{"id":"4ae7ab32.792cd4","type":"change","z":"10236253.2fd19e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1946.1757774353027,"y":1317.0351457595825,"wires":[["d601e67a.d74028"]]},{"id":"34e74893.fa8e28","type":"comment","z":"10236253.2fd19e","name":"Sch5","info":"","x":1316.5234375,"y":1376.0389404296875,"wires":[]},{"id":"35c9c2f1.b2c9ee","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch5Hour","label":"Hour","group":"a4c89d07.dd9a8","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"Sch5timehour","x":1253.6328125,"y":1633.761778831482,"wires":[["47c4b153.5de69"]]},{"id":"b54549ce.185f78","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch5Minute","label":"Minute","group":"a4c89d07.dd9a8","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"Sch5timeminute","x":1252.6328125,"y":1673.7617349624634,"wires":[["47c4b153.5de69"]]},{"id":"47c4b153.5de69","type":"function","z":"10236253.2fd19e","name":"Sch1 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"Sch5timehour\");\nvar minute = global.get(\"Sch5timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"startSW5\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":1444.6328048706055,"y":1651.7617139816284,"wires":[["5243138a.2b9f2c"]]},{"id":"5243138a.2b9f2c","type":"ui_text","z":"10236253.2fd19e","group":"a4c89d07.dd9a8","order":2,"width":"","height":"","name":"ONTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":1627.6328048706055,"y":1652.7617502212524,"wires":[]},{"id":"943a1b39.085098","type":"ui_switch","z":"10236253.2fd19e","name":"Sch5enabler","label":"Enable Scheduler","group":"a4c89d07.dd9a8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Sch5enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1309.6523971557617,"y":1488.7616686820984,"wires":[["7cbe6b9a.a06054"]]},{"id":"7cbe6b9a.a06054","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1454.6523742675781,"y":1488.7617540359497,"wires":[["618f97a5.7551c8"]]},{"id":"6b56ab06.8ac1a4","type":"ui_dropdown","z":"10236253.2fd19e","name":"Schedule in days","label":"Schedule","group":"a4c89d07.dd9a8","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"Every day","value":1,"type":"num"},{"label":"Every second day","value":"2","type":"str"},{"label":"Every third day","value":"3","type":"str"},{"label":"Every forth day","value":"4","type":"str"}],"payload":"","topic":"Sch5days","x":1297.6523704528809,"y":1531.761799812317,"wires":[["984570d2.da1f2"]]},{"id":"984570d2.da1f2","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1455.6523818969727,"y":1530.7617692947388,"wires":[["618f97a5.7551c8"]]},{"id":"618f97a5.7551c8","type":"function","z":"10236253.2fd19e","name":"Date logic","func":"var today = new Date();\nif (global.get(\"Sch5enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch5days\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":1617.6524124145508,"y":1504.7617692947388,"wires":[["d552406b.93b02"]]},{"id":"d552406b.93b02","type":"ui_template","z":"10236253.2fd19e","group":"a4c89d07.dd9a8","name":"Execute today?","order":9,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Run today</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Yes' : 'No'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":1798.6523895263672,"y":1504.7617387771606,"wires":[[]]},{"id":"e78f2b0e.894bf8","type":"inject","z":"10236253.2fd19e","name":"","topic":"Sch5Check","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":1326.632827758789,"y":1752.1069040298462,"wires":[["50bc0f80.4519f","6886bbf7.ecfd54"]]},{"id":"50bc0f80.4519f","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch5enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch5days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":1558.6329231262207,"y":1727.1069965362549,"wires":[["7a66ca63.0d55f4"]]},{"id":"7a66ca63.0d55f4","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"startSW5","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1750.6329536437988,"y":1723.1069793701172,"wires":[["4aa28bb1.defc74"],[]]},{"id":"4aa28bb1.defc74","type":"change","z":"10236253.2fd19e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1938.632911682129,"y":1722.107027053833,"wires":[["6e4d0ea9.d7737"]]},{"id":"235144d1.d0348c","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch5Hour","label":"Hour","group":"a4c89d07.dd9a8","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"DSch5timehour","x":1668.6524200439453,"y":1565.0115613937378,"wires":[["6914899.3c3f978"]]},{"id":"800dced1.c72fb","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch5Minute","label":"Minute","group":"a4c89d07.dd9a8","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"DSch5timeminute","x":1667.6524200439453,"y":1605.0115175247192,"wires":[["6914899.3c3f978"]]},{"id":"6914899.3c3f978","type":"function","z":"10236253.2fd19e","name":"Sch5 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"DSch5timehour\");\nvar minute = global.get(\"DSch5imeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"stopSW5\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":1869.652458190918,"y":1583.0115060806274,"wires":[["696fe00f.8dae4"]]},{"id":"696fe00f.8dae4","type":"ui_text","z":"10236253.2fd19e","group":"a4c89d07.dd9a8","order":5,"width":"","height":"","name":"OFFTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":2073.652370452881,"y":1583.0116739273071,"wires":[]},{"id":"6886bbf7.ecfd54","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch5enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch5days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":1556.6523513793945,"y":1802.0116167068481,"wires":[["f0d9b1d5.2f073"]]},{"id":"f0d9b1d5.2f073","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopSW5","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1748.6523818969727,"y":1798.0115995407104,"wires":[["1b6348a8.002bf7"],[]]},{"id":"1b6348a8.002bf7","type":"change","z":"10236253.2fd19e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1936.6523399353027,"y":1797.0116472244263,"wires":[["6e4d0ea9.d7737"]]},{"id":"43af5a1b.f000d4","type":"comment","z":"10236253.2fd19e","name":"Sch6","info":"","x":1276.5234375,"y":2013.0389404296875,"wires":[]},{"id":"3aec74cb.048b7c","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch6Hour","label":"Hour","group":"6f6bea08.8b0a54","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"Sch6timehour","x":1213.6328125,"y":2270.761778831482,"wires":[["322d2bac.6eee14"]]},{"id":"1bfe8445.f4924c","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch6Minute","label":"Minute","group":"6f6bea08.8b0a54","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"Sch6timeminute","x":1212.6328125,"y":2310.7617349624634,"wires":[["322d2bac.6eee14"]]},{"id":"322d2bac.6eee14","type":"function","z":"10236253.2fd19e","name":"Sch6 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"Sch6timehour\");\nvar minute = global.get(\"Sch6timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"startSW6\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":1404.6328048706055,"y":2288.7617139816284,"wires":[["a3814b22.7b8758"]]},{"id":"a3814b22.7b8758","type":"ui_text","z":"10236253.2fd19e","group":"6f6bea08.8b0a54","order":2,"width":"","height":"","name":"ONTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":1587.6328048706055,"y":2289.7617502212524,"wires":[]},{"id":"36790078.f8c26","type":"ui_switch","z":"10236253.2fd19e","name":"Sch6enabler","label":"Enable Scheduler","group":"6f6bea08.8b0a54","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Sch6enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1273.6523742675781,"y":2125.7617540359497,"wires":[["8fd5dc02.42dd1"]]},{"id":"8fd5dc02.42dd1","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1414.6523742675781,"y":2125.7617540359497,"wires":[["9fa142db.91bca"]]},{"id":"a5546ca2.ee54d","type":"ui_dropdown","z":"10236253.2fd19e","name":"Schedule in days","label":"Schedule","group":"6f6bea08.8b0a54","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"Every day","value":1,"type":"num"},{"label":"Every second day","value":"2","type":"str"},{"label":"Every third day","value":"3","type":"str"},{"label":"Every forth day","value":"4","type":"str"}],"payload":"","topic":"Sch6days","x":1257.6523704528809,"y":2168.761799812317,"wires":[["d7313d77.6c0cb"]]},{"id":"d7313d77.6c0cb","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1415.6523818969727,"y":2167.7617692947388,"wires":[["9fa142db.91bca"]]},{"id":"9fa142db.91bca","type":"function","z":"10236253.2fd19e","name":"Date logic","func":"var today = new Date();\nif (global.get(\"Sch6enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch6days\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":1580.6524085998535,"y":2141.7618923187256,"wires":[["a1f83e50.eb7df"]]},{"id":"a1f83e50.eb7df","type":"ui_template","z":"10236253.2fd19e","group":"6f6bea08.8b0a54","name":"Execute today?","order":9,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Run today</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Yes' : 'No'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":1758.6523895263672,"y":2141.7617387771606,"wires":[[]]},{"id":"45126b7a.8bec14","type":"inject","z":"10236253.2fd19e","name":"","topic":"Sch6Check","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":1286.632827758789,"y":2389.106904029846,"wires":[["eeb2e059.71ce2","89c15e20.0d8d3"]]},{"id":"eeb2e059.71ce2","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch6enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch6days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":1518.6329231262207,"y":2364.106996536255,"wires":[["10232d3d.f8a303"]]},{"id":"10232d3d.f8a303","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"startSW6","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1710.6329536437988,"y":2360.106979370117,"wires":[["f306919c.03809"],[]]},{"id":"f306919c.03809","type":"change","z":"10236253.2fd19e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1898.632911682129,"y":2359.107027053833,"wires":[["e2529ef7.00988"]]},{"id":"5bea4502.f81a2c","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch6Hour","label":"Hour","group":"6f6bea08.8b0a54","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"DSch6timehour","x":1628.6524200439453,"y":2202.011561393738,"wires":[["f524f556.43f568"]]},{"id":"a4977791.4b0db8","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch6Minute","label":"Minute","group":"6f6bea08.8b0a54","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"DSch6timeminute","x":1627.6524200439453,"y":2242.0115175247192,"wires":[["f524f556.43f568"]]},{"id":"f524f556.43f568","type":"function","z":"10236253.2fd19e","name":"Sch6 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"DSch6timehour\");\nvar minute = global.get(\"DSch6timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"stopSW6\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":1829.652458190918,"y":2220.0115060806274,"wires":[["6e0fd1b3.4ab56"]]},{"id":"6e0fd1b3.4ab56","type":"ui_text","z":"10236253.2fd19e","group":"6f6bea08.8b0a54","order":5,"width":"","height":"","name":"OFFTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":2033.6523704528809,"y":2220.011673927307,"wires":[]},{"id":"89c15e20.0d8d3","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch6enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch6days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":1516.6523513793945,"y":2439.011616706848,"wires":[["5dfcbb5d.812814"]]},{"id":"5dfcbb5d.812814","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopSW6","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1708.6523818969727,"y":2435.0115995407104,"wires":[["9ca24370.34108"],[]]},{"id":"9ca24370.34108","type":"change","z":"10236253.2fd19e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1896.6523399353027,"y":2434.0116472244263,"wires":[["e2529ef7.00988"]]},{"id":"1deb1595.d0e6ba","type":"comment","z":"10236253.2fd19e","name":"Sch7","info":"","x":262.0234375,"y":2704.538818359375,"wires":[]},{"id":"862e397.e393ac8","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch7Hour","label":"Hour","group":"eb5c5fbf.8961f","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"Sch7timehour","x":199.1328125,"y":2962.2616567611694,"wires":[["354822d1.38d73e"]]},{"id":"dfeddbe1.083558","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch7Minute","label":"Minute","group":"eb5c5fbf.8961f","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"Sch7timeminute","x":198.1328125,"y":3002.261612892151,"wires":[["354822d1.38d73e"]]},{"id":"354822d1.38d73e","type":"function","z":"10236253.2fd19e","name":"Sch7 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"Sch7timehour\");\nvar minute = global.get(\"Sch7imeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"startSW7\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":390.13280487060547,"y":2980.261591911316,"wires":[["ea1f2ed4.40976"]]},{"id":"ea1f2ed4.40976","type":"ui_text","z":"10236253.2fd19e","group":"eb5c5fbf.8961f","order":2,"width":"","height":"","name":"ONTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":573.1328048706055,"y":2981.26162815094,"wires":[]},{"id":"2f38cef8.8952a2","type":"ui_switch","z":"10236253.2fd19e","name":"Sch7enabler","label":"Enable Scheduler","group":"eb5c5fbf.8961f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Sch7enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":259.1523742675781,"y":2817.261631965637,"wires":[["31e199f5.cdd206"]]},{"id":"31e199f5.cdd206","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400.1523742675781,"y":2817.261631965637,"wires":[["69bc03ed.04ec6c"]]},{"id":"28d8ea6e.eddcb6","type":"ui_dropdown","z":"10236253.2fd19e","name":"Schedule in days","label":"Schedule","group":"eb5c5fbf.8961f","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"Every day","value":1,"type":"num"},{"label":"Every second day","value":"2","type":"str"},{"label":"Every third day","value":"3","type":"str"},{"label":"Every forth day","value":"4","type":"str"}],"payload":"","topic":"Sch7days","x":243.15237045288086,"y":2860.2616777420044,"wires":[["ab2b876f.9d4cb8"]]},{"id":"ab2b876f.9d4cb8","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":401.15238189697266,"y":2859.2616472244263,"wires":[["69bc03ed.04ec6c"]]},{"id":"69bc03ed.04ec6c","type":"function","z":"10236253.2fd19e","name":"Date logic","func":"var today = new Date();\nif (global.get(\"Sch7nable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch7days\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":563.1524124145508,"y":2833.2616472244263,"wires":[["a642726.215759"]]},{"id":"a642726.215759","type":"ui_template","z":"10236253.2fd19e","group":"eb5c5fbf.8961f","name":"Execute today?","order":9,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Run today</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Yes' : 'No'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":744.1523895263672,"y":2833.261616706848,"wires":[[]]},{"id":"a9f8dc22.701e3","type":"inject","z":"10236253.2fd19e","name":"","topic":"Sch7Check","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":267.1328430175781,"y":3080.606607437134,"wires":[["1aa5c6fa.12f839","89c0e07f.67662"]]},{"id":"1aa5c6fa.12f839","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch7enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch7days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":504.1329231262207,"y":3055.6068744659424,"wires":[["959a6f26.f6837"]]},{"id":"959a6f26.f6837","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"startSW7","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":696.1329536437988,"y":3051.6068572998047,"wires":[["827b9781.6bbbf8"],[]]},{"id":"827b9781.6bbbf8","type":"change","z":"10236253.2fd19e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":884.1329116821289,"y":3050.6069049835205,"wires":[["867dd355.8e11c"]]},{"id":"91c2c4ab.3035d8","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch7Hour","label":"Hour","group":"eb5c5fbf.8961f","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"DSch7timehour","x":614.1524200439453,"y":2893.5114393234253,"wires":[["80c1716b.69a93"]]},{"id":"59e84d70.de67b4","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch7Minute","label":"Minute","group":"eb5c5fbf.8961f","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"DSch7timeminute","x":613.1524200439453,"y":2933.5113954544067,"wires":[["80c1716b.69a93"]]},{"id":"80c1716b.69a93","type":"function","z":"10236253.2fd19e","name":"Sch7 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"DSch7timehour\");\nvar minute = global.get(\"DSch7imeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"stopSW7\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":815.152458190918,"y":2911.511384010315,"wires":[["c7bd8cba.8ca68"]]},{"id":"c7bd8cba.8ca68","type":"ui_text","z":"10236253.2fd19e","group":"eb5c5fbf.8961f","order":5,"width":"","height":"","name":"OFFTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":1019.1523704528809,"y":2911.5115518569946,"wires":[]},{"id":"89c0e07f.67662","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch7enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch7days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":502.15235137939453,"y":3130.5114946365356,"wires":[["6436a79a.592dd8"]]},{"id":"6436a79a.592dd8","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopSW7","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":694.1523818969727,"y":3126.511477470398,"wires":[["aa536c9a.e70b2"],[]]},{"id":"aa536c9a.e70b2","type":"change","z":"10236253.2fd19e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":882.1523399353027,"y":3125.5115251541138,"wires":[["867dd355.8e11c"]]},{"id":"f9de05c1.3b4e48","type":"comment","z":"10236253.2fd19e","name":"Sch8","info":"","x":1390.0234375,"y":2676.538818359375,"wires":[]},{"id":"2be370dc.fe74b","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch8Hour","label":"Hour","group":"d6cb5f53.cc72f","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"Sch8timehour","x":1327.1328125,"y":2934.2616567611694,"wires":[["edf0ed48.1d282"]]},{"id":"c3f83153.fc38f","type":"ui_dropdown","z":"10236253.2fd19e","name":"Sch8Minute","label":"Minute","group":"d6cb5f53.cc72f","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"Sch8timeminute","x":1326.1328125,"y":2974.261612892151,"wires":[["edf0ed48.1d282"]]},{"id":"edf0ed48.1d282","type":"function","z":"10236253.2fd19e","name":"Sch8 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"Sch8timehour\");\nvar minute = global.get(\"Sch8timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"startSW8\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":1518.1328048706055,"y":2952.261591911316,"wires":[["a372eb48.c4f008"]]},{"id":"a372eb48.c4f008","type":"ui_text","z":"10236253.2fd19e","group":"d6cb5f53.cc72f","order":2,"width":"","height":"","name":"ONTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":1701.1328048706055,"y":2953.26162815094,"wires":[]},{"id":"9e99e408.b6dc78","type":"ui_switch","z":"10236253.2fd19e","name":"Sch8enabler","label":"Enable Scheduler","group":"d6cb5f53.cc72f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Sch8enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1387.1523742675781,"y":2789.261631965637,"wires":[["924ce34d.46ae8"]]},{"id":"924ce34d.46ae8","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1528.1523742675781,"y":2789.261631965637,"wires":[["64834065.3c66c"]]},{"id":"7db66323.c9ffec","type":"ui_dropdown","z":"10236253.2fd19e","name":"Schedule in days","label":"Schedule","group":"d6cb5f53.cc72f","order":8,"width":0,"height":0,"passthru":false,"options":[{"label":"Every day","value":1,"type":"num"},{"label":"Every second day","value":"2","type":"str"},{"label":"Every third day","value":"3","type":"str"},{"label":"Every forth day","value":"4","type":"str"}],"payload":"","topic":"Sch8days","x":1371.1523704528809,"y":2832.2616777420044,"wires":[["d344ee3a.a8592"]]},{"id":"d344ee3a.a8592","type":"function","z":"10236253.2fd19e","name":"Store","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1529.1523818969727,"y":2831.2616472244263,"wires":[["64834065.3c66c"]]},{"id":"64834065.3c66c","type":"function","z":"10236253.2fd19e","name":"Date logic","func":"var today = new Date();\nif (global.get(\"Sch8enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch8days\") === 0) ? '1':'0';\n} else {\n    msg.payload = '0';\n}    \nreturn msg;","outputs":1,"noerr":0,"x":1691.1524124145508,"y":2805.2616472244263,"wires":[["fed6035a.deef1"]]},{"id":"fed6035a.deef1","type":"ui_template","z":"10236253.2fd19e","group":"d6cb5f53.cc72f","name":"Execute today?","order":9,"width":"","height":"","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Run today</p>\n    <p ng-style=\"{color: msg.payload === '1' ? 'green' : 'red'}\">\n        <b>{{(msg.payload === '1') ? 'Yes' : 'No'}}</b>\n    </p>\n</div>","storeOutMessages":false,"fwdInMessages":false,"x":1872.1523895263672,"y":2805.261616706848,"wires":[[]]},{"id":"cc7275a1.c44a48","type":"inject","z":"10236253.2fd19e","name":"","topic":"Sch8Check","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":1400.132827758789,"y":3052.6067819595337,"wires":[["ae00d24a.d9342","923d8375.0af3a"]]},{"id":"ae00d24a.d9342","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch8enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch8days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":1632.1329231262207,"y":3027.6068744659424,"wires":[["eba6dc1b.a6d1e"]]},{"id":"eba6dc1b.a6d1e","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"startSW8","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1824.1329536437988,"y":3023.6068572998047,"wires":[["30182228.55bcae"],[]]},{"id":"30182228.55bcae","type":"change","z":"10236253.2fd19e","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2012.132911682129,"y":3022.6069049835205,"wires":[["cea9843b.05a788"]]},{"id":"c5caaef8.3368","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch8Hour","label":"Hour","group":"d6cb5f53.cc72f","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"}],"payload":"","topic":"DSch8timehour","x":1742.1524200439453,"y":2865.5114393234253,"wires":[["a0d0018b.10157"]]},{"id":"b0131e23.2523b","type":"ui_dropdown","z":"10236253.2fd19e","name":"DSch8Minute","label":"Minute","group":"d6cb5f53.cc72f","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"00","value":"0","type":"str"},{"label":"01","value":"1","type":"str"},{"label":"02","value":"2","type":"str"},{"label":"03","value":"3","type":"str"},{"label":"04","value":"4","type":"str"},{"label":"05","value":"5","type":"str"},{"label":"06","value":"6","type":"str"},{"label":"07","value":"7","type":"str"},{"label":"08","value":"8","type":"str"},{"label":"09","value":"9","type":"str"},{"label":"10","value":"10","type":"str"},{"label":"11","value":"11","type":"str"},{"label":"12","value":"12","type":"str"},{"label":"13","value":"13","type":"str"},{"label":"14","value":"14","type":"str"},{"label":"15","value":"15","type":"str"},{"label":"16","value":"16","type":"str"},{"label":"17","value":"17","type":"str"},{"label":"18","value":"18","type":"str"},{"label":"19","value":"19","type":"str"},{"label":"20","value":"20","type":"str"},{"label":"21","value":"21","type":"str"},{"label":"22","value":"22","type":"str"},{"label":"23","value":"23","type":"str"},{"label":"24","value":"24","type":"str"},{"label":"25","value":"25","type":"str"},{"label":"26","value":"26","type":"str"},{"label":"27","value":"27","type":"str"},{"label":"28","value":"28","type":"str"},{"label":"29","value":"29","type":"str"},{"label":"30","value":"30","type":"str"},{"label":"31","value":"31","type":"str"},{"label":"32","value":"32","type":"str"},{"label":"33","value":"33","type":"str"},{"label":"34","value":"34","type":"str"},{"label":"35","value":"35","type":"str"},{"label":"36","value":"36","type":"str"},{"label":"37","value":"37","type":"str"},{"label":"38","value":"38","type":"str"},{"label":"39","value":"39","type":"str"},{"label":"40","value":"40","type":"str"},{"label":"41","value":"41","type":"str"},{"label":"42","value":"42","type":"str"},{"label":"43","value":"43","type":"str"},{"label":"44","value":"44","type":"str"},{"label":"45","value":"45","type":"str"},{"label":"46","value":"46","type":"str"},{"label":"47","value":"47","type":"str"},{"label":"48","value":"48","type":"str"},{"label":"49","value":"49","type":"str"},{"label":"50","value":"50","type":"str"},{"label":"51","value":"51","type":"str"},{"label":"52","value":"52","type":"str"},{"label":"53","value":"53","type":"str"},{"label":"54","value":"54","type":"str"},{"label":"55","value":"55","type":"str"},{"label":"56","value":"56","type":"str"},{"label":"57","value":"57","type":"str"},{"label":"58","value":"58","type":"str"},{"label":"59","value":"59","type":"str"}],"payload":"","topic":"DSch8timeminute","x":1741.1524200439453,"y":2905.5113954544067,"wires":[["a0d0018b.10157"]]},{"id":"a0d0018b.10157","type":"function","z":"10236253.2fd19e","name":"Sch8 Calculate time","func":"global.set(msg.topic,msg.payload);\nvar hour = global.get(\"DSch8timehour\");\nvar minute = global.get(\"DSch8timeminute\");\nif (hour!==undefined && minute!==undefined) {\n    var mytime = new Date();\n    mytime.setHours(hour, minute, 0);\n    mytime.setMilliseconds(0);\n    mytime.setFullYear(2000,01,01);\n    global.set(\"stopSW8\",mytime.getTime());\n}\nif(minute < 10) {\n  msg.payload = hour + \" : 0\" + minute;\n}\nelse\n{\n   msg.payload = hour + \" : \" + minute; \n}\nreturn msg;  \n","outputs":1,"noerr":0,"x":1943.152458190918,"y":2883.511384010315,"wires":[["96802dae.edcd3"]]},{"id":"96802dae.edcd3","type":"ui_text","z":"10236253.2fd19e","group":"d6cb5f53.cc72f","order":5,"width":"","height":"","name":"OFFTime:","label":"Time:","format":"{{msg.payload}}","layout":"","x":2147.152370452881,"y":2883.5115518569946,"wires":[]},{"id":"923d8375.0af3a","type":"function","z":"10236253.2fd19e","name":"Remove date","func":"var current = new Date();\nvar today = new Date();\ncurrent.setFullYear(2000,01,01);\ncurrent.setMilliseconds(0);\nmsg.payload = current.getTime();\n\nif (global.get(\"Sch8enable\")==1) {\n    msg.payload = (today.getDay() % global.get(\"Sch8days\") === 0) ? current.getTime():'0';\n} else {\n    msg.payload = '0';\n}   \n\nreturn msg;","outputs":1,"noerr":0,"x":1630.1523513793945,"y":3102.5114946365356,"wires":[["7f07a2a.3eac15c"]]},{"id":"7f07a2a.3eac15c","type":"switch","z":"10236253.2fd19e","name":"Check start time","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopSW8","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":1822.1523818969727,"y":3098.511477470398,"wires":[["e9fca8f4.8bcf58"],[]]},{"id":"e9fca8f4.8bcf58","type":"change","z":"10236253.2fd19e","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010.1523399353027,"y":3097.5115251541138,"wires":[["cea9843b.05a788"]]},{"id":"be9c7b99.946de8","type":"link out","z":"10236253.2fd19e","name":"SW1link","links":["60b066bf.7f18e8"],"x":989,"y":1281,"wires":[]},{"id":"66673071.22ede","type":"link out","z":"10236253.2fd19e","name":"SW2link","links":["c6a050c7.cd446"],"x":981.0468139648438,"y":1817.0623779296875,"wires":[]},{"id":"9cc5adfb.cfd26","type":"link out","z":"10236253.2fd19e","name":"SW3link","links":["b64b58e.e06e4a8"],"x":987.0468139648438,"y":2399.0625,"wires":[]},{"id":"e2529ef7.00988","type":"link out","z":"10236253.2fd19e","name":"SW6link","links":["ac6de07c.a7304"],"x":2004.0467529296875,"y":2390.0625,"wires":[]},{"id":"867dd355.8e11c","type":"link out","z":"10236253.2fd19e","name":"SW7link","links":["8879cffa.00a17"],"x":1007,"y":3090,"wires":[]},{"id":"cea9843b.05a788","type":"link out","z":"10236253.2fd19e","name":"SW8link","links":["6d4e8216.05faac"],"x":2142,"y":3057,"wires":[]},{"id":"6e4d0ea9.d7737","type":"link out","z":"10236253.2fd19e","name":"SW5link","links":["bab70b7a.04e858"],"x":2058,"y":1759,"wires":[]},{"id":"d601e67a.d74028","type":"link out","z":"10236253.2fd19e","name":"SW4link","links":["383c00af.bd156"],"x":2081,"y":1279,"wires":[]},{"id":"60b066bf.7f18e8","type":"link in","z":"10236253.2fd19e","name":"","links":["be9c7b99.946de8"],"x":596,"y":102,"wires":[["39e5517c.9f792e"]]},{"id":"c6a050c7.cd446","type":"link in","z":"10236253.2fd19e","name":"","links":["66673071.22ede"],"x":594,"y":153,"wires":[["a1fe872a.8c4478"]]},{"id":"b64b58e.e06e4a8","type":"link in","z":"10236253.2fd19e","name":"","links":["9cc5adfb.cfd26"],"x":593,"y":197,"wires":[["77a89081.2323d"]]},{"id":"383c00af.bd156","type":"link in","z":"10236253.2fd19e","name":"","links":["d601e67a.d74028"],"x":592,"y":239,"wires":[["3106c532.8c771a"]]},{"id":"bab70b7a.04e858","type":"link in","z":"10236253.2fd19e","name":"","links":["6e4d0ea9.d7737"],"x":591,"y":279,"wires":[["49bfd09e.d1beb"]]},{"id":"ac6de07c.a7304","type":"link in","z":"10236253.2fd19e","name":"","links":["e2529ef7.00988"],"x":595,"y":326,"wires":[["bf3d3746.9c84e8"]]},{"id":"8879cffa.00a17","type":"link in","z":"10236253.2fd19e","name":"","links":["867dd355.8e11c"],"x":596,"y":372,"wires":[["c562145a.c55ac8"]]},{"id":"6d4e8216.05faac","type":"link in","z":"10236253.2fd19e","name":"","links":["cea9843b.05a788"],"x":596,"y":411,"wires":[["405fd68b.b258d8"]]}]